.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .userInfo {
    display: flex;
    align-items: center;
  }
  
  .userInfo span {
    margin-right: 10px;
  }
  
  .userInfo button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  