/* RegisterForm.module.css */

.container {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
  width: 100px; /* Fixed width for labels */
  display: inline-block; /* Align labels and inputs */
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: calc(100% - 110px); /* Calculate input width to align with labels */
  margin-left: 10px; /* Add margin for better separation */
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%; /* Make button width same as inputs */
}

.button:hover {
  background-color: #0056b3;
}
